<div style="padding: 15px;">
    <h1>Welcome Ayni Project</h1>
    <p>
        Ayni is an Open Source Irrigation Control System, which has been developed to ease the access of small and
        medium farmers to cutting edge technology. It allows to sense, monitor, present and label the farming production
        data in an easy fashion.
    </p>
    <p>
        Ayni, thanks to IOTA, could be adapted to sell produced goods through friction-less micro-payments with
        production data and without intermediaries, to sell performance data, and optimize the growth process of
        vegetables and fish.
    </p>
    <p>
        For more detail visited <a href="https://github.com/Agro-iot/iot2tangle.ayni" target="_blank">Ayni Github</a>
    </p>
    <br>
    <img src="assets/img/ayni_01.png" style="width: 100%;">
</div>